= render 'shared/navbar'

%h1 Listing des utilisateurs

%table
  %thead
    %tr
      %th Nom
      %th Prénom
      %th Promotion
      %th Email
      %th Tél

  %tbody
    - @users.each do |user|
      %tr
        %td= user.nom
        %td= user.prenom
        %td= user.promotion
        %td= user.email
        %td= user.tel
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br